/*
  ScssAvatar quick pack
  Author:RoktimSazib
  url:http://www.codingavatar.com
  Version:0.0.1
  description:
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html {
  color: #222;
  font-size: 1em;
  line-height: 1.4; }

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

textarea {
  resize: vertical; }

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

/* ==========================================================================
   Roktim custom styles
   ========================================================================== */
@keyframes moveImage {
  from {
    -moz-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row; }
  to {
    -moz-flex-direction: row-reverse;
    -webkit-flex-direction: row-reverse;
    flex-direction: row-reverse; } }
.title {
  text-align: center;
  color: #333; }

.oc-container {
  width: 1000px;
  margin: 0 auto; }

.oc-row {
  padding-left: 20px;
  padding-right: 20px; }

.artical {
  display: -webkit-flex;
  display: flex;
  -webkit-animation: mymove 5s infinite;
  /* Safari 4.0 - 8.0 */
  animation: moveImage 5s infinite; }

.item > img {
  max-width: 100%; }

.item {
  flex: 1;
  padding: 10px;
  margin: 10px 10px;
  text-align: center;
  border: 1px solid #c0c0c0;
  box-shadow: 5px 4px 7px 0px #c0c0c0; }

.artical1 {
  display: flex; }

.artical1 > .item:nth-of-type(1) {
  animation: changeOrder 3s infinite;
  -webkit-animation: changeOrder 3s infinite;
  -moz-animation: changeOrder 3s infinite; }

.artical1 > .item:nth-of-type(2) {
  animation: changeOrder2 3s infinite;
  -webkit-animation: changeOrder2 3s infinite;
  -moz-animation: changeOrder2 3s infinite; }

.artical1 > .item:nth-of-type(3) {
  animation: changeOrder3 3s infinite;
  -webkit-animation: changeOrder3 3s infinite;
  -moz-animation: changeOrder3 3s infinite; }

.artical1 > .item:nth-of-type(4) {
  animation: changeOrder4 3s infinite;
  -webkit-animation: changeOrder4 3s infinite;
  -moz-animation: changeOrder4 3s infinite; }

@keyframes changeOrder {
  from {
    order: 1; }
  to {
    order: 2; } }
@keyframes changeOrder2 {
  from {
    order: 2; }
  to {
    order: 1; } }
@keyframes changeOrder3 {
  from {
    order: 3; }
  to {
    order: 4; } }
@keyframes changeOrder4 {
  from {
    order: 4; }
  to {
    order: 3; } }
/* ==========================================================================
   Helper classes
   ========================================================================== */
.hidden {
  display: none !important; }

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

.invisible {
  visibility: hidden; }

.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.clearfix:after {
  clear: both; }

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */ }
@media print, (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 1.25dppx), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */ }
@media print {
  *,
  *:before,
  *:after,
  *:first-letter,
  *:first-line {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster:
       http://www.sanbeiji.com/archives/953 */
    box-shadow: none !important;
    text-shadow: none !important; }

  a,
  a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: ""; }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group; }

  tr,
  img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }

  h2,
  h3 {
    page-break-after: avoid; } }

/*# sourceMappingURL=main.css.map */
