.thumb_area{
  display: flex;
  flex-direction: row;
}
.item:nth-child(odd){
  background-color: #FF00FF;
}
.item:nth-child(even){
  background-color: #ff0;
}
.item{
  // flex:1;
  text-align: center;
  padding: 10px 0px;
  flex-basis: 100px;
}
.item:nth-of-type(5){
  flex-basis: 300px;
}
